<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="cardgame.services.dealerservices.SimpleDealerHelper" level="DEBUG"/>
    <logger name="cardgame.services.dealerservices.SimpleWinnerStrategy" level="DEBUG"/>
    <logger name="cardgame.services.dealerservices.Combinations" level="DEBUG"/>
    <logger name="cardgame.services.dealerservices.Dealer" level="DEBUG"/>
</configuration>